<footer class="container-fluid foot" id="contact">
    <a href="http://www.linkedin.com/in/diaa-eldin-hassan-989702280" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="/form" target="_blank"><i class="fa-solid fa-envelope"></i></a>
    <a href="https://github.com/DiaaEldinHassan" target="_blank"><i class="fa-brands fa-github"></i></a>
    <h6 class="end"><i class="fa-regular fa-copyright fa-xs" aria-hidden="true"></i><strong> Coded by</strong><sub> Diaa Eldin Hassan</sub></h6>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="/styles/js/script.js"></script>
</body>
</html>