
   <%- include('header.ejs') %>
    <div class="container-fluid row top">
        <div class="col-md-6 col-sm-12">
          <div class="col-sm-12 col-md-6 clo"><img src="/images/cloud.png" alt="cloud and sun image" class="cloud">
          <h2>
            Hello to Weather2Day
          </h2>
          <h4 style="font-family:'DotGothic16', sans-serif;">Coded By Diaa E. Hassan</h4>
        </div></div>
        <div class="col-md-6 col-sm-12 row">
         <div class="col-md-3 col-sm-12"><img src="/images/mob.png" class="mob" alt="mobile-image"></div> 
          <div class="col-md-3 col-sm-12"><img src="/images/lap.png" class="lap" alt="pc-image"></div>
        </div>
    </div>
    <div class="container-fluid mid " id="features">
      <img src="/images/wegif.gif" alt="man under cloud" class="wegif">
      <h4> Website helps to get the weather day by day </h4>
    </div>
    <div class="container-fluid bot row">
           <div class="col-md-4 col-sm-12">
            <img src="/images/easy.png" alt="easy icon" class="bot-icon">
           <h4>Easy to use</h4>
           </div>
           <div class="col-md-4 col-sm-12">
            <img src="/images/res.png" alt="responsible icon" class="bot-icon">
            <h4>Responsible design</h4>
           </div>
           <div class="col-md-4 col-sm-12">
            <img src="/images/free.png" alt="free icon" class="bot-icon">
            <h4>Free</h4>
           </div> 
    </div>
    <%- include('footer.ejs') %>